.scrolldown {
  height: 55px;
  width: 50px;
  border: 2px solid white;
  position: absolute;
  left: 48.5%;
  bottom: 2vh;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
  background-color: #1c49a6;
}

.scrolldown::before,
.scrolldown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: none;
  border-left: none;
  animation: scroll-down 1s ease-in-out infinite;
}

.scrolldown::after {
  top: 30%;
  animation-delay: 0.2s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 96%;
  }
}
