.full {
  background-color: #f3cd46;
  min-height: 75vh;
  padding: 40px;
  color: white;
}

.container {
  margin-top: 16vh;
  position: relative;
  z-index: 100;
}

.center {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.collapsible {
  margin-left: 96px;
  margin-right: 96px;
  margin-bottom: 48px;
}

.collapsible .content {
  padding: 6px;
  background-color: #5b74d8;
  border-radius: 12px;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
  transition: 0.5s;
}
.collapsible .header {
  background-color: #1c49a6;
  padding: 8px;
  cursor: pointer;
  height: 48px;
  border-radius: 12px;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
  transition: 0.5s;
}

.collapsible .header:hover {
  background-color: #001034;
}
