@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html,
* {
  body: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

x {
  font-weight: bold;
  font-size: 22px;
}

p {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-family: "Bebas Neue";
}

h2 {
  font-size: 40px;
}

full {
}

nav {
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  background-color: #d7766c;
  position: sticky;
  color: white;
  margin-bottom: auto;
  resize: both;
}
nav a {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 48px;
  margin-bottom: 50;
  transition: 0.4s;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
nav a:hover {
  background-color: #90cc89;
  padding: 8px;
  border-radius: 20px;
}
nav .logo {
  margin-right: auto;
  margin-left: 48px;
}

.icon {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
}

.img {
  border-radius: 100%;
}

.links {
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  transition: 0.1s;
}

.sponser {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  width: 15vw;
  height: 15vw;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}
.sponserImage {
  border-radius: 10px;
  background-color: blue;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text2 {
  font-size: 100px;

  transition: 0.3s;
  z-index: 100;
}

.wrapper {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sponser:hover .sponserImage {
  opacity: 0.3;
}

.sponser:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1350px) and (min-width: 750px) {
  .links {
    margin-left: 30%;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .links {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
  }
  nav a {
    font-size: 3.2vw;
  }
}
