@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html,
* {
  body: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

x {
  font-weight: bold;
  font-size: 22px;
}

p {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-family: "Bebas Neue";
}

h2 {
  font-size: 40px;
}

full {
}

nav {
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  background-color: #d7766c;
  position: sticky;
  color: white;
  margin-bottom: auto;
  resize: both;
}
nav a {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 48px;
  margin-bottom: 50;
  transition: 0.4s;
  cursor: pointer;
}
nav a:hover {
  background-color: #90cc89;
  padding: 8px;
  border-radius: 20px;
}
nav .logo {
  margin-right: auto;
  margin-left: 48px;
}

.icon {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
}

.links {
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  transition: 0.1s;
}

@media screen and (max-width: 1350px) and (min-width: 750px) {
  .links {
    margin-left: 30%;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .links {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
  }
}
