.HeaderContainer {
  display: flex;
  background-color: #1c49a6;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.head {
  margin-top: 50%;
  color: white;
  font-size: 150px;
  font-weight: 50;
}

.center {
  text-align: center;
}

.subheading {
  left: 50%;
  margin-top: 40px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}
