.HeaderContainer {
  display: flex;
  background-color: #1c49a6;
  height: 90vh;
  justify-content: center;
  position: relative;
  background-image: url("../components/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head {
  margin-top: 50%;
  color: #1c49a6;
  font-size: 150px;
  font-weight: 50;
}

.center {
  text-align: center;
}

.subheading {
  left: 50%;
  margin-top: 40px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f3cd46;
}
