.HeaderContainer {
  display: flex;
  background-color: rgb(0, 149, 255);
  height: 400px;
  justify-content: center;
}

.head {
  margin-top: 20%;
  color: white;
  font-size: 100px;
  font-weight: 50;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.subheading {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}
