.full {
  background-color: #f3cd46;
  min-height: 54vh;
  padding: 96px;
  color: black;
}

.container {
  /* margin-top: 48px; */
  margin-top: 11vh;
}

.center {
  margin-top: 8px;
  text-align: center;
}
