.full {
  background-color: #d7766c;
  min-height: 54vh;
  padding: 96px;
  color: black;
  color: white;
}

.container {
  /* margin-top: 48px; */
  margin-top: 11vh;
}

.center {
  margin-top: 8px;
  text-align: center;
}
