.full {
  background-color: #1c49a6;
  min-height: 80vh;
  padding: 40px;
  color: black;
  color: white;
}

.container {
  margin: 96px;
  margin-top: 16vh;
}

.center {
  text-align: center;
  margin: auto;
}

.calendar {
  display: flex;
  flex-direction: space-between;
}

.day {
  width: 350px;
  background-color: #f3cd46;
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}
