.full {
  background-color: #f3cd46;
  min-height: 20vh;
}

.footer {
  padding: 24px;
  color: white;
  margin-left: 15%;
}

.row {
  width: 80%;
  margin: 0 auto;
  overflow: none;
}

.title {
  color: white;
  font-size: 40px;
}

.oneOfOne {
  padding-top: 32px;
  width: 100%;
  float: left;
  text-align: center;
}

.oneOfTwo {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  overflow: none;
}

.rowIcon {
  display: flex;
  flex-direction: space-between;
  margin-left: 100px;
}

.icon {
  height: 35px;
}

.text {
  margin-left: 8px;
  font-size: 32px;
}

.center {
  margin-left: 40vh;
  margin-top: 30px;
}

.footerText {
  font-size: 7px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.smallText {
  color: white;
  font-size: 10px;
}

.icon2 {
  color: white;
  background-color: white;
}
