.full {
  background-color: #1c49a6;
  height: 25vh;
}

.footer {
  padding: 24px;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-top: 5px;
}

.text {
  margin-left: 8px;
}
