.full {
  background-color: #f3cd46;
  min-height: 60vh;
  padding: 40px;
  color: black;
}

.container {
  margin-top: 32vh;
  margin: auto;
}

.align {
  margin-left: 3%;
}

.center {
  margin-top: 8px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: space-between;
}

.SponserBox {
  height: 200px;
  width: 250px;
  background-color: #1c49a6;
  margin: 12vh;
  border-radius: 12px;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}
