.full {
  background-color: #f3cd46;
  min-height: 60vh;
  padding: 40px;
  color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 16vh;
}

.center {
  margin-top: 8px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: space-between;
}

.SponserBox {
  height: 200px;
  width: 33.33%;
  float: left;
  height: 300px;
  background-color: #1c49a6;
  margin: 12vh;
  border-radius: 12px;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}
