.full {
  background-color: #90cc89;
  padding: 16px;
  min-height: 80vh;
  color: white;
  transition: 1s;
}

.margin {
  margin-top: 16vh;
}

.container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.center {
  margin-top: 10px;
  text-align: center;
}

.subheading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transition: 0.3s;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    transition: 0.3s;
  }
}

.box {
  width: 350px;
  height: 24px;
  background-color: #d7766c;
  margin: 8px;
  margin-left: 16px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  text-align: center;
  transition: 0.75s;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}

.box h2 {
  padding-bottom: 10px;
  transition: 0.5s;
}

.box p {
  height: 0;
  color: #6cafea00;
  overflow: hidden;
  transition: 1s;
}

.boxOther {
  width: 350px;
  height: 24px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  text-align: center;
  transition: 0.75s;
  position: relative;
  z-index: 99;
  margin: 0 auto;
  margin-top: 24px;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #d7766c;
  box-shadow: -2px 20px 10px rgba(0, 0, 0, 0.225);
}

.boxOther h2 {
  padding-bottom: 10px;
  transition: 0.5s;
}

.boxOther p {
  height: 0;
  color: #6cafea00;
  overflow: hidden;
  transition: 1s;
}

.box:hover {
  height: 300px;
  color: white;
}

.box:hover p {
  height: 240px;
  color: white;
}

.box:hover h2 {
  padding-bottom: 0px;
}

.boxOther:hover {
  height: 240px;
  color: white;
}

.boxOther:hover h2 {
  padding-bottom: 0px;
}

.boxOther:hover p {
  height: 248px;
  color: white;
}
