.full {
  background-color: #6cafea;
  padding: 16px;
  min-height: 100vh;
  color: white;
  transition: 1s;
}

.margin {
  margin-top: 32vh;
}

.container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.center {
  margin-top: 10px;
  text-align: center;
}

.subheading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.box {
  width: 350px;
  height: 18px;
  background-color: #fcb07e;
  margin: 8px;
  margin-left: 16px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  text-align: center;
  transition: 0.75s;
}

.box p {
  height: 0;
  color: #6cafea00;
  overflow: hidden;
  transition: 1s;
}

.boxOther {
  width: 350px;
  height: 18px;
  padding: 16px;
  border-radius: 8px;
  color: white;
  text-align: center;
  transition: 0.75s;
  position: relative;
  z-index: 99;
  margin: 0 auto;
  margin-top: 24px;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #fcb07e;
}

.boxOther p {
  height: 0;
  color: #6cafea00;
  overflow: hidden;
  transition: 1s;
}

.box:hover {
  height: 248px;
  color: white;
}

.box:hover p {
  height: 240px;
  color: white;
}

.boxOther:hover {
  height: 240px;
  color: white;
}

.boxOther:hover p {
  height: 248px;
  color: white;
}
